<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Data Acquisition Web Interface</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/general.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/grid.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='webfonts/fontawsome_all.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>

<body>
<div class="navbar">
	<a href="/" class="app_title">OhanaCode Data Portal</a>
	<ul class="menu">
		<li><a href="/">Home</a></li>
		<li><a href="/datactrl?dummy={{dldid}}">Data & Controlls</a></li>
		<li><a href="/graphs?dummy={{dldid}}">Graphs</a></li>
	</ul>
	<a id='login_link' href='/{{ login["url"] }}' title='{{ login["name"] }}'><i class='fa {{ login["icon"] }}'></i></a>
</div>
<div class="grid">
	<div class="col-1">
		<h1>Please select a new password</h1>
		<br>
		<div class="col-1">
            <form name="loginfrm" id="login-frm" method="POST" action="/activate" autocomplete="off">
				<input type="hidden" name="apikey" value="{{ apikey }}">
                <input type = "password" name = "password1" placeholder="Password" id="password1"  autofocus autocomplete="off"><br>
                <input type = "password" name = "password2" placeholder="Repeat password" id="password2"><br>
                <input type = "submit" class="btn login-btn" value="Submit">
				<p id="status_msg"></p>
            </form>
        </div>
	</div>
</div>
<div class="footer-col">
	email: <a href="mailto:ujagaga@gmail.com">ujagaga@gmail.com</a>
</div>

</body>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/activate.js')}}"></script>
</html>