<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Data Acquisition Web Interface</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/general.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/grid.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='webfonts/fontawsome_all.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/data_view.css')}}">
</head>

<body>
<div class="navbar">
	<a href="/" class="app_title">DATA ACQUISITION</a>
	<ul class="menu">
		<li><a href="/">Home</a></li>
		<li><a href="/datactrl?dummy={{dldid}}">Data & Controlls</a></li>
		<li><a href="/graphs?dummy={{dldid}}">Graphs</a></li>
	</ul>
	<a id='login_link' href='/{{ login["url"] }}' title='{{ login["name"] }}'><i class='fa {{ login["icon"] }}'></i></a>
</div>
<div class="grid">
	<div class="col-1">
		<div class="data_view">
			<h1 class="title-heading">CONTROLLS</h1>
			{% for key in vars.keys() %}
			<div class="groupby">
				<h2>{{ key }}</h2>
				{% for variable in vars[key] %}

				{% if variable["type"] == "toggle" %}
				<div class="toggle-var">
					<p>{{ variable["name"] }}</p>
					<label>
						<input type="checkbox" {% if variable["value"] == '0' %}{% else %}checked{% endif %}
						id="var_{{ variable['name'].replace(" ", "%20%") }}"
						onclick="toggleVar('{{ variable['name'] }}', this);">
						<span class="slider"></span>
					</label>
				</div>
				{% else %}
				<div class="gen-var">
					<p>{{ variable["name"] }}</p>
					<input class="genvar" type="text" name='var_{{ variable["name"] }}'
						   id="var_{{ variable['name'].replace(' ', '%20%') }}"
						   value='{{variable["value"]}}' onkeydown="process_keypress(this);">
					<button class="apply-btn"
							onclick="process_apply_button(this);"
							id="btn_{{ variable['name'].replace(' ', '%20%') }}"
							>Apply</button>
				</div>
				{% endif %}

				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="col-1">
		<div class="data_view">
			<h1 class="title-heading">LATEST DATA</h1>

			<table class="table eytable table-striped">
				<tbody>
					{% for variable in value_list %}
					<tr>
						<th>{{ variable["name"] }}:</th>
						<td><span id='data_{{ variable["name"].replace(" ", "%20%") }}'>{{ variable["val"] }}</span>{{ variable["unit"] }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<p class="status-info">Last update: {{ts}}</p>

</div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/socket.io.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/datactrl.js')}}"></script>
</html>