<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Data Acquisition Web Interface</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/general.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/grid.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='webfonts/fontawsome_all.css')}}">
</head>

<body>
<div class="navbar">
	<a href="/" class="app_title">DATA ACQUISITION</a>
	<ul class="menu">
		<li><a href="/">Home</a></li>
		<li><a href="/datactrl?dummy={{dldid}}">Data & Controlls</a></li>
		<li><a href="/graphs?dummy={{dldid}}">Graphs</a></li>
	</ul>
	<a id='login_link' href='/{{ login["url"] }}' title='{{ login["name"] }}'><i class='fa {{ login["icon"] }}'></i></a>
</div>
<div class="grid">
	<div class="col-1">
		<h1>Place your project description on this page</h1>
	</div>
	<div class="col-2">
		<p>You can use a grid layout</p>
	</div>
	<div class="col-2">
		<p>to help you divide your content in columns if needed</p>
	</div>
</div>
</body>
</html>