<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/general.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/grid.css')}}">
</head>
<body>
    <div class="navbar">
	    <a href="/" class="app_title">OhanaCode Data Portal</a>
    </div>
</div>
    <div class="grid">
        <div class="col-1">
            <form name="loginfrm" id="login-frm" method="POST" action="/login" autocomplete="off">
                <p class="err-msg">{{message}}</p>
                <input type = "text" name = "username" placeholder="Username" id="username"  autofocus autocomplete="off"><br>
                <input type = "password" name = "password" placeholder="Password" id="passw"><br>
                <input type = "submit" class="btn login-btn" value="Submit"><br>
                <br>
                <a href="/register">No account? Create one.</a>
                <br>
                <a href="/register?resetpass=yes">Forgot your password? Reset it.</a>
            </form>
        </div>
    </div>
</body>
</html>


