#login_link{
    float:right;
    width:64px;
    background-color: #3eb650;
    color: white;
    line-height: 64px;
    display: block;
    text-align: center;
    border-radius: 5px;
}

.groupby{
    width: calc(100% - 30px);
    margin: 15px;
    padding: 15px;
    background-color: blue;
    color: white;
    font-size: 1.5em;
}

.status-info{
    text-align: right;
    padding: 5px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 0;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.wide{
    width: 100%;
}
