@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@charset "utf-8";body{margin:0;padding:0;font-family:'Open Sans',sans-serif;font-size:14px;display:inline-block;width:100%;color:#333;overflow-x:hidden;font-weight:400}
input,button,select,textarea{outline:0;font-family:'Open Sans',sans-serif}
#Body,#Body *,font{font-family:'Open Sans',sans-serif}
a,p,strong,ul,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1{font-size:24px}
h3 {font-family: 'Open Sans', serif; font-weight:700; font-size: 40px; color:#555; text-align:center; margin:0; padding:5px 0px;}
h4{font-size:22px}
a:focus,input:focus{outline:none!important;text-decoration:none}
a:hover{text-decoration:none}
@media(min-width:768px){.container{width:750px}
}@media(min-width:939px){.container{width:919px}
}@media(min-width:1200px){.container{width:1170px}
}


body{padding:0;margin:0}
.clear{font-size:0; content:" "; clear:both; height:0; zoom:1; overflow:hidden}
.tongtool-related{margin:0;padding:0;width:100%;}
.tongtool-related ul{width:100%;list-style-type:none;padding:0px;margin:0px auto;}
.tongtool-related ul li{padding:0px;margin:0px; float:left;list-style-type:none;position:relative;}
.tongtool-related .item{margin:2px;border:solid 1px #ccc;}
.tongtool-related ul li div:hover{border:solid 1px red;}
.tongtool-related ul li a img{width:98%;}
.tongtool-related ul li a{margin:5px;float:left;text-decoration:none;}
.tongtool-related ul li a p{margin:5px 0 0 0;}
.tongtool-related .pic{border: solid 0px #fff;margin:0;}
.tongtool-related .title{color:#000;font-size:12px;line-height:13px;height:27px;overflow:hidden;text-align:left;width:100%;word-wrap:break-word;word-break:break-word;margin-bottom:5px}
.tongtool-related .price{color:#666;font-size:11px;line-height:14px;font-weight:normal;height:29px;text-align:left;}
.tongtool-related .price b{color:#000;cursor:pointer;font-size: 13px;font-weight: bold;}
.tongtool-related .price span{color: #777777;cursor: pointer;font-size: 12px;font-weight:normal;text-decoration:line-through;}
.tongtool-related .shipping{color:#666;font-family:Verdana,sans-serif!important;font-size:11px;font-weight:normal;line-height:13px;text-align:left;}
.tongtool-tag-off{width:50px;height:50px; background:url(https://img1.tongtool.com/v/template/img/tag-off.gif) no-repeat; position:absolute; top:-3px;left:2px; z-index:99; text-align:center; color:#fff;}
.tongtool-tag-off span{display:inline-block; margin-top:5px; line-height:15px;}
@media screen and (max-width: 1260px){
	.tongtool-related ul li{width:20%!important;border:0;}
	.tongtool-related ul li:hover{border:0;}
}
@media screen and (max-width: 960px){
	.tongtool-related ul li{width:25%!important;border:0;}
	.tongtool-related ul li:hover{border:0;}
}
@media screen and (max-width: 760px){
	.tongtool-related ul li{width:33.33%!important;border:0;}
	.tongtool-related ul li:hover{border:0;}
}
@media screen and (max-width: 560px){
	.tongtool-related ul li{width:33.33%!important;border:0;}
	.tongtool-related ul li:hover{border:0;}
}

.container{padding:0 10px}
.container a h1{font-size: 50px}
.pagewidth{float:left;width:100%}
.wrappage{width:100%}
input[type=text]::-ms-clear{display:none!important;width:0!important;height:0!important}
input[type=text]::-ms-reveal{display:none!important;width:0!important;height:0!important}
.input-text,.sub_search{outline:0!important}
.sub_search{border:0!important}
#Body .tab-content-m{float:left;width:100%}
select:focus,button:focus,option:focus,select::-moz-focus-inner,option::-moz-focus-inner{outline:none!important;border:none!important}
code{padding:2px;background:#ddd}
img{max-width:100%}

.table{font-size: 16px;}
.table-cell{padding:5px 20px 5px 0;border-bottom:1px solid #e8e8e8}
.table-row>.table-cell:first-child{font-weight:500}
.table{display:table}
.table-row{display:table-row}
.table-cell{display:table-cell;vertical-align:left}
.table-row{list-style-type:none;padding:3px 0}
.table-row>.table-cell:first-child{font-weight:500}
.table-cell{text-align: left;}
.container-fluid>table{ margin-left:-25px;margin-right:-30px;}

#frmgallery{position:relative;text-align:center;padding-top:600px;font-size:0;padding:10px auto;margin-top: 25px;}#frmgallery .section{position:absolute;top:0;left:0;opacity:0;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;width:100%;height:75%;overflow:hidden;transition:all linear .5s;-o-transition:all linear .5s;-moz-transition:all linear .5s;-webkit-transition:all linear .5s}#frmgallery .section div{display:block;position:relative;width:100%;height:100%;background-color:#FFF}#frmgallery label img,#frmgallery .section div img{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;max-height:100%;max-width:100%}#frmgallery label{position:relative;display:inline-block;width:80px;height:80px;border:1px solid #CCC;border-radius:5px;cursor:pointer;margin:3px;opacity:.4;filter:alpha(opacity=40);-moz-opacity:.4;-khtml-opacity:.4;transition:all linear 250ms;-o-transition:all linear 250ms;-moz-transition:all linear 250ms;-webkit-transition:all linear 250ms}#frmgallery label:hover{opacity: 1;-webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);}#frmtab10:hover~#frmcontent10,#frmtab11:hover~#frmcontent11,#frmtab12:hover~#frmcontent12,#frmtab13:hover~#frmcontent13,#frmtab14:hover~#frmcontent14,#frmtab15:hover~#frmcontent15,#frmtab16:hover~#frmcontent16,#frmtab17:hover~#frmcontent17,#frmtab18:hover~#frmcontent18,#frmtab19:hover~#frmcontent19,#frmtab1:hover~#frmcontent1,#frmtab20:hover~#frmcontent20,#frmtab2:hover~#frmcontent2,#frmtab3:hover~#frmcontent3,#frmtab4:hover~#frmcontent4,#frmtab5:hover~#frmcontent5,#frmtab6:hover~#frmcontent6,#frmtab7:hover~#frmcontent7,#frmtab8:hover~#frmcontent8,#frmtab9:hover~#frmcontent9{opacity:1;filter:alpha(opacity=100);}#frmcontent1{opacity:1!important;filter:alpha(opacity=100)!important;-moz-opacity:1!important;-khtml-opacity:1!important}

a.skb {margin: 5px auto;width:50%;display:block; font-family: 'Open Sans', serif; font-weight:700; font-size:18px; background:#F4AE01; padding:10px; color:#fff; text-decoration: none; text-align:center; border:none; box-shadow: 2px 2px 2px #ccc; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
a.skb i {color:#fff; font-size:18px}
a.skb i{color:#fff; font-size:14px}

#gh-logo{max-width:500%}
.content-text a.text{cursor:text}
a.text:hover{text-decoration:none}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
.header{min-height:125px}
.headercontent{margin-top:30px}
.promo .content .footer{display:inline-block;width:100%}
.content .panel-default > .panel-heading{background:#3EB650!important;border-color:#3EB650!important;color:#fff;border-radius:0;font-size:18px;text-transform:uppercase;font-weight:400}
.header-container{display:inline-block;width:100%;border:0;position:relative;display:inline-block;width:100%;border:0;position:relative}
.header-container .header-top{display:inline-block;width:100%;padding:5px 0;text-align:center;background:#f5f5f5}
.header-container .header-top span{color:#171717;font-size:14px;font-weight:600;font-family:'Open Sans',sans-serif}
.icon-menu-mb,.header-container .header-content .nav-trigger{display:none}
.header-container .header-content .logo-content{display:inline-block;text-align:center;max-width:500px;margin:2em 0}
.header-content{display:inline-block;width:100%;background:#FFF;padding:1em 0 4em;text-align:center}
.header-container{display:inline-block;width:100%}
.menu-header{display:inline-block;width:100%;position:absolute;bottom:-3px;left:0;background:#3EB650;text-align:center}
.menu-header-mobile{display:none}
.menu-header .container{position:relative}
.menu-header .menu-container{width:100%}
.menu-header ul li{list-style-type:none;display: inline-block;}
.menu-header ul li a{padding:17px 16px;font-family:'Oswald',sans-serif;font-size:18px;color:#fff;display:inline-block;line-height:18px;text-transform:uppercase;font-weight:400}
.menu-header ul li a:hover{background:#f5f5f5;color:#666}
.hidden-nav{display:none}
.content{margin-top:0}

.product-view-name{font-size:26px;font-family:'Open Sans',sans-serif!important;line-height:32px;color:#303030;font-weight:700;margin:24px 0 8px}
.item-container h5{font-size:16px;font-family:'Armata',sans-serif!important;line-height:20px;color:#4f4f4f;font-weight:400;margin:0}

.img-gallery{border:none!important;box-shadow:none!Important}
.image-gallery{position:relative;width:95%;margin:2em auto auto}
.slider{width:100%;display:inline-block;padding-top:480px}
.slider .img-details{width:100%;position:absolute;left:0;top:0;transition:all .5s;text-align:center;max-height:570px;transition:all .5s;z-index:22;height:445px;background:#fff}
.slider .img-details img{max-width:100%;max-height:443px}
.slider input[name='slide_switch']{display:none}
.slider label{margin-right:8px;display:inline-block;cursor:pointer;transition:all .5s;opacity:1;margin-bottom:1em;float:left}
.slider span{display:inline-table;width:80px;height:80px;text-align:center;border:1px solid #cdcdce}
.slider span:has(img[src*="Liquid"]){display:none}
.slider label img{max-width:100%;width:auto;padding:1px;max-height:78px}
.slider img[src*="Liquid"]{display:none}
.slider input[name='slide_switch']:checked+label{opacity:1}
.slider input ~ .img-details{margin-bottom:0}
.slider input[name='slide_switch'] ~ .img-details{opacity:0;display:none}
.slider input[name='slide_switch']:checked+label+.img-details{opacity:1;display:block;transform:scale(1)}
.slider #id1+label+.img-details{opacity:1;display:block;transform:scale(1)}
.title-heading{width:100%;font-size:16px;font-weight:500;font-family:'Open Sans',sans-serif;background:#3EB650;color:#fff;margin-top:0;border:none!important;padding:12px}
.panel-big-1{border:1px solid #3EB650;margin-bottom:20px;overflow:hidden}
.panel-big-2{margin-bottom:28px;-webkit-box-shadow:0 3px 10px -2px rgba(0,0,0,0.49);-moz-box-shadow:0 10px 10px 1px rgba(0,0,0,0.49);box-shadow:0 3px 10px -2px rgba(0,0,0,0.49)}
.title-heading i{font-size:1em;padding-right:10px;vertical-align:middle;font-weight:400}
.sm-box-1,.sm-box-2,.sm-box-3{padding:0;margin-bottom:20px}
.tabarea{padding:15px}
.tabs{float:none;list-style:none;padding:0;margin:0 auto;background:#323232;-webkit-box-shadow:0 3px 10px -2px rgba(0,0,0,0.49);-moz-box-shadow:0 10px 10px 1px rgba(0,0,0,0.49);box-shadow:0 3px 10px -2px rgba(0,0,0,0.49)}
.tabs:after{content:'';display:table;clear:both}
.tabs input[type=radio]{display:none}
.tabs label{text-align: center;display:inline-block;color:#fff;text-transform:uppercase;font-size:18px;font-weight:500;font-family:'Open Sans',sans-serif;padding:12px 20px 11px;float:left;cursor:pointer;background:#323232;position:relative;z-index:2;margin:0 3px 0 0}
.tabs label span{display:inline-block;font-size:16px;font-family:'Open Sans',sans-serif;padding: 15px auto;}
.tabs label i{padding:5px;margin-right:0}
.tab-content{display:none;font-size:16px;font-family:'Open Sans',sans-serif;width:100%;float:left;padding:15px;box-sizing:border-box;background-color:#fff;margin:-1px 0 0;padding:25px 20px 35px}
.tab-content,.tab-content a,.tab-content li,.tab-content p,.tab-content tr,.tab-content td{margin-bottom:0;line-height:22px;font-size:15px;color:#000;font-family:'Open Sans',sans-serif}
.tab-content{margin:0;padding:25px 20px 35px}
.tab-content a{color:#111;font-family:'Open Sans',sans-serif}
.tab-content a:hover{text-decoration:underline}
.tab-content ul,.tab-content ol{margin-bottom:10px;padding-left:1em}
.tab-content ul li,.tab-content ol li{margin:0 0 5px;position:relative}
.tab-content ul li:last-child,.tab-content ol li:last-child{margin-bottom:0}
.tab-content h1{font-size:20px;color:#252525;text-transform:uppercase;font-weight:600;line-height:32px;margin-top:10px}
.tab-content h2{font-size:18px;color:#252525;text-transform:uppercase;font-weight:600;line-height:25px;margin-top:10px}
.tab-content h3,.tabarea section h4,.tabarea section h5,.tabarea section h6{font-size:14px;color:#000;font-weight:700;line-height:20px;margin-top:10px}

@keyframes scale{0%{transform:scale 0.9);opacity:0}
50%{transform:scale(1.01);opacity:.5}
100%{transform:scale(1);opacity:1}
}.tabs [id^="tab"]:checked+label{color:#fff;background:#3EB650}
#tab1:checked ~ #tab-content1,#tab2:checked ~ #tab-content2,#tab3:checked ~ #tab-content3,#tab4:checked ~ #tab-content4,#tab5:checked ~ #tab-content5,#tab6:checked ~ #tab-content6,#tab7:checked ~ #tab-content7,#tab8:checked ~ #tab-content8{display:block}
.content{margin-top:2em;border-color:#3EB650!important;border-radius:0}
.right-content{padding:0}
.border-0{border:0!important}
.margin-1em{margin-top:1em}
.text-section img{display:block;max-width:100%;height:auto}
.text-section,.text-section a,.text-section li,.text-section p,.text-section tr,.text-section td{margin-bottom:0;line-height:22px;font-size:15px;font-family:'Open Sans',sans-serif}
.pad0{padding:0!Important}
.text-section{padding:15px}
.text-section a{color:#111;font-family:'Open Sans',sans-serif}
.text-section a:hover{text-decoration:underline}
.text-section ul{margin-bottom:10px;padding-left:20px}
.text-section li{margin:0 0 5px;position:relative;list-style-type:disc}
.text-section ul li:last-child{margin-bottom:0}
.text-section h1{font-size:20px;color:#252525;text-transform:uppercase;font-weight:600;line-height:32px;margin-top:10px}
.text-section h2{font-size:18px;color:#252525;text-transform:uppercase;font-weight:600;line-height:25px;margin-top:10px}
.text-section h3,.text-section h4,.text-section h5,.text-section h6{font-size:14px;color:#000;font-weight:700;line-height:20px;margin-top:10px}
.footer{color:#d1d1d1;margin-top:2em}
.footer p{font-family:'Open Sans',sans-serif;font-size:14px;font-weight:700;color:#3EB650}
.footer .inner-row{border-top:2px solid #ccc;border-bottom:6px solid #3EB650}
.copyrights{padding:10px}
@media(width:768px){header-container .header-content .logo-content{width:200px;margin-right:10px}}

@media(max-width: 767px) {
.header-container{border:0}
.header-container .header-content .logo-content{padding-bottom:13px;float:none;display:inline-block}
.header-container .header-content .logo-content img{width:210px}
.header-content{padding:20px 0 15px;position:relative;text-align:center}
.header-right{width:100%;display:inline-block}
.search-container{width:100%;float:none}
.search-content{position:relative;width:100%;margin-top:9px}
.wrappage .search-content{margin-top:0!important}
.navigation{background:#111}
.nav-item{width:100%;border-top:1px solid #ddd;border-bottom:1px solid #000}
.nav-trigger{position:absolute;clip:rect(0,0,0,0)}
.nav-trigger + label{display:block;background:#3EB650;cursor:pointer;color:#fff;line-height:45px;font-size:18px;font-family:"Open Sans",sans-serif;margin:0}
.nav-trigger + label::before{display:inline-block;width:24px;height:16px;right:10px;top:15px;content:"\f0c9";font-family:'FontAwesome';font-size:1.5em;padding-left:10px;vertical-align:middle;float:left;font-weight:400}
.header-content .menu-header{-webkit-transition:opacity .5s ease-in-out;-moz-transition:opacity .5s ease-in-out;-ms-transition:opacity .5s ease-in-out;-o-transition:opacity .5s ease-in-out;transition:opacity .5s ease-in-out;display:none}
.nav-trigger:checked ~ .menu-header{filter:alpha(opacity=50);opacity:1;display:inline-block}
.menu-header{display:none;z-index:19;width:100%;position:relative;top:1px;left:0;background:#fff;text-align:left}
.menu-header-mobile{display:inline-block;width:100%}
.menu-header-mobile .container{padding:0}
.menu-header ul.menu{box-shadow:0 4px 4px #e6e6e6}
.menu-header ul{text-align:center;width:100%}
.menu-header ul li{width:100%;position:relative;border-bottom:1px solid #f5f5f5}
.menu-header ul li a{background:#3EB650;color:#111;line-height:22px;font-size:16px;font-family:"Oswald",sans-serif;padding:10px;display:inline-block;width:100%;color:#fff}
.menu-header ul li a:hover{background:#f5f5f5;color:#3EB650}
.menu-header ul li input{display:none}
.contact-us{display:none!important}
.footer-signup{float:left;width:100%;margin-top:2em}
.slider{padding-top:320px;width:100%;position:relative}
.slider .img-details,.slider .img-details img{max-height:300px}
.slider label{margin-right:12px}
.slider span{width:66px;height:66px}
.slider label img{max-height:64px}
.product-name{font-size:23px!important}
.tab-list{margin:0 0 30px}
.tabarea{border:0;margin:27px 0 0}
.tabarea::before{display:none}
.tabarea label{width:100%;display:inline-block;position:relative;padding:12px 0;font-size:20px;border-bottom:1px solid #fff;color:#fff;font-weight:700;border-bottom:0;background:#3EB650;padding-bottom:12px;padding:12px 20px;border-bottom:1px solid #fff}
.tabarea label::before{display:inline-block;width:24px;height:16px;position:absolute;right:10px;top:15px;content:"\f067";font-family:'FontAwesome';font-size:1em;padding-right:10px;vertical-align:middle;float:right;font-weight:400}
.tabarea input:checked + label{padding:12px 20px}
.tabarea input:checked + label::before{display:inline-block;width:24px;height:16px;content:"";position:absolute;right:10px;top:15px;content:"\f068";font-family:'FontAwesome';font-size:1em;padding-right:10px;vertical-align:middle;float:right;font-weight:400}
.tabarea #tab2 + label,.tabarea #tab3 + label,.tabarea #tab4 + label{left:0;color:#fff;font-weight:700;border-bottom:0;background:#3EB650;padding:12px 20px;border-bottom:1px solid #fff}
.tabarea input:checked + label{border-bottom:1px solid #fff;color:#fff;font-weight:700;border-bottom:0;background:#3EB650;padding-bottom:12px;border-bottom:1px solid #fff}
.tabarea section{padding:14px 10px 17px;margin:0;border-top:0;border-bottom:1px solid #3EB650}
.tabarea section .content-right,.tabarea section .content-left{width:100%;padding:0}
.tab-content{padding:0}
.tabs label{width:100%;border-bottom:1px solid #ccc}
}
}@media(max-width:568px){.header-container .header-top{display:none}
.header-container .header-content .logo-content{float:none}

}
.modebar-container{
    display: none;
}
