<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Smart Horti</title>

	
	<link target="_blank" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	
	

	<link rel="stylesheet" href="{{url_for('static', filename='css/datactrl.css')}}">



	<link target="_blank" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link target="_blank" href="https://fonts.googleapis.com/css?family=Armata" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/feedback4.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/home_page.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">

</head>
<body>
<div class="header-container">
	<div class="header-content">
		<div class="container">
            <a href="/">
            <img src="{{url_for('static', filename='images/logo2.png')}}" alt="Smiley face" style="float:left;width:60px;height:75px;">
			</a>

			<a href="/">
            <img src="{{url_for('static', filename='images/logo1.png')}}" alt="Smiley face" style="float:right;width:64px;height:64px;">
			</a>

			<a class="img src" href="/" target="_blank"><h1>SMART HORTI</h1></a><!--Logo Link-->

			<div class="header-right">
				<input type="checkbox" id="nav-trigger" class="nav-trigger">
				<label for="nav-trigger" class="hidden-nav">MENU</label>
				<div class="menu-header menu-header-mobile">
					<div class="container">
						<div class="menu-container">
							<ul class="menu">
								<li><a href="/">Home</a></li>
								<li><a href="/datactrl?dummy={{dldid}}">Data & Controls</a></li>
								<li><a href="/graphs?dummy={{dldid}}">Graphs</a></li>
								<li><a href="/about">About Us</a></li>
								<li><a href='/{{ login["url"] }}'>{{ login["name"] }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-header">
			<div class="container">
				<div class="menu-container">
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="/datactrl?dummy={{dldid}}">Data & Controls</a></li>
						<li><a href="/graphs?dummy={{dldid}}">Graphs</a></li>
						<li><a href="/about">About Us</a></li>
						<li><a href='/{{ login["url"] }}'>{{ login["name"] }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Header End-->

<div class="content">
	<div class="container">
		<p id="status-info"></p>
		<div class="panel-big-2">
			<h1 class="title-heading">CONTROLS</h1>

			<div class="text-section">
				{% for key in vars.keys() %}
				<div class="groupby"><p>{{ key }}</p></div>
				{% for variable in vars[key] %}
					{% if variable["type"] == "toggle" %}
					<div class="switch-toggle">
						<p>{{ variable["name"] }}</p>
						<label>
							<input type="checkbox" {% if variable["value"] == '0' %}{% else %}checked{% endif %}
							id="var_{{ variable['name'].replace(" ", "%20%") }}"
							onclick="toggleVar('{{ variable['name'] }}', this);">
							<span></span>
						</label>
					</div>
					{% else %}
					<div class="gen-var">
						<p>{{ variable["name"] }}</p>
						<input class="genvar" type="text" name='var_{{ variable["name"] }}'
						   id="var_{{ variable['name'].replace(' ', '%20%') }}"
						   value='{{variable["value"]}}' onkeydown="process_keypress(this);">
						<button class="apply-btn"
							onclick="process_apply_button(this);"
							id="btn_{{ variable['name'].replace(' ', '%20%') }}"
							>Apply</button>
					</div>
					{% endif %}
				<br><br>
				{% endfor %}
				{% endfor %}

				<!-- ----------------- SCHEDULE ----------------- -->
				{% if vars.keys() %}
				<div class="groupby"><p>Schedule Time</p></div>
				{% endif %}

				{% for key in vars.keys() %}
				{% for variable in vars[key] %}
				{% if key == "Manual Mode" and variable["type"] == "toggle" %}

				<div class="switch-toggle">
					<p>{{ variable["name"] }}</p>
					<label>
						<input type="checkbox" {% if variable["active"] == '1' %}checked{% endif %}
						id="tgl_{{ variable['name'].replace(" ", "%20%") }}"
						onclick='applyVarSchedule("{{ variable["name"] }}");'>
						<span></span>
					</label>
				</div>

				<div class="row schedule-row">

					<div class="col-3">
						<label for='sch_on_{{ variable["name"] }}'>Turn On Time (hour):</label><br>
						<input type="number" id='sch_on_{{ variable["name"] }}' name='sch_on_{{ variable["name"] }}'
							   min="0" max="23" value='{{ variable["hour"] }}'
							   onkeydown='process_schedule("{{ variable["name"] }}");'
							   onchange='process_schedule("{{ variable["name"] }}");'>

					</div>
					<div class="col-3">
						<label for='sch_off_{{ variable["name"] }}'>Turn Off After (Minutes):</label><br>
						<input type="number" id='sch_off_{{ variable["name"] }}' name='sch_off_{{ variable["name"] }}'
							   min="1" max="59" value='{{ variable["duration"] }}'
							   onkeydown='process_schedule("{{ variable["name"] }}");'
							   onchange='process_schedule("{{ variable["name"] }}");'>
					</div>
					<div class="col-4">
						<div class="switch-toggle">
							<p>Repeat Daily</p>
							<label>
								<input type="checkbox"  {% if variable["repeat"] == '1' %}checked{% endif %}
								id='sch_rep_{{ variable["name"] }}'
								onclick='process_schedule("{{ variable["name"] }}");'>
								<span></span>
							</label>
						</div>
					</div>
					<div class="col-2">
						<button class="apply-btn"
							onclick='applyVarSchedule("{{ variable["name"] }}");'
							id='btn_apply_{{ variable["name"] }}'>Apply</button>
					</div>
				</div>
				<br><br><hr>
				{% endif %}
				{% endfor %}
				{% endfor %}

			</div>
		</div>

		<!-- ----------------- DATA ----------------- -->
		<div class="panel-big-2">
			<h1 class="title-heading">DATA</h1>
			<div class="text-section">
				<table class="table eytable table-striped">
					<tbody>
						{% for variable in value_list %}
						<tr><th> {{ variable["name"] }}</th>
							<td>{{ variable["val"] }}{{ variable["unit"] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<input type="hidden" id="last_ts" value="{{ts}}">
		<input type="hidden" id="status" value="{{status}}">
		<p id="status-ts"></p>
	</div>
</div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/custom.js')}}"></script>

</html>
