<!DOCTYPE html>
<html lang="en">
<head>
<style>
.center {
    margin: auto;
    width: 60%;
    border: 0px solid #73AD21;
    padding: 10px;
}

.top_right{
    position: absolute;
    top: 10px;
    right: 60px;
}

.text_right {
    float: right;
}

.text_left {
    float: left;
}

</style>
    <meta charset="UTF-8">
    <title>Data collection</title>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/custom.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
</head>
<body>
    <div class="center">
        <h1>Data Collection</h1>
        <a href="/download?id='{{dldid}}'" class="btn btn-primary" >Download data</a>
        <button onclick='clearData()' class="btn btn-danger">Clear data</button>
    </div>

    <hr>
    <div class="center">
        <h2>Controlls</h2>
        {% for variable in vars %}
        <button onclick='toggleVar("{{ variable["name"] }}", "{{ variable["value"] }}")'
            {% if variable["value"] == '0' %}
                class="btn btn-danger">{{ variable["name"] }} ({{ variable["value"] }}) Set
            {% else %}
                class="btn btn-success">{{ variable["name"] }} ({{ variable["value"] }}) Clear
            {% endif %}
        </button>
        {% endfor %}
    </div>
    <hr>
    {% for plot in plots %}
    <div class="center">
        {{ plot["plot"] }}
    </div>
    {% endfor %}

</body>
</html>