@font-face {
    font-family: 'robotoregular';
    src: url('../webfonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../webfonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html *
{
   font-family: robotoregular;
}

body{
    margin: 0;
    padding: 6em 0 2em 0;
    min-height: calc(100vh - 8em);
}

a, a:visited, a:hover, p {
    text-decoration: none;
}

.navbar{
    background-color: #3a3a3a;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0 0 0;
    text-align: center;
    z-index: 1000;
}

.menu{
    list-style-type: none;
    margin: 20px auto 0 auto;
    padding: 0;
}
.menu li {
    display: inline-block;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    color: white;
}
.menu li a{
    color: white;
}

.app_title{
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 5px auto 0 auto;
}


#login_link{
    padding: 5px;
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    top: 5px;
    right: 5px;
}

#login_link i{
    padding: 0;
    margin: 0;
    font-size: 30px;
}

#status-info{
    position: absolute;
    bottom: 0;
    right: 10px;
}
