#login-frm{
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    font-size: 20px;
    padding: 5px;
    width: 300px;
    margin: auto;
}